body {
	background-image: url(Monterey08.jpg);
	background-size: auto;
	background-position-y: center;
	background-position-x: center;
}

#tool_bar {
	display: grid;
	grid-template-columns: 10% 70% 20%;
	border: white solid 2px;
	border-radius: 10px;
	padding: 5px;

	
	.control {
		display: flex; 
		span { 
			margin-right: 5px; 
		}
		span::last-child { 
			margin-right: 0px;
		}
	}
      
	.address_bar {
		font-size: 16px;
		display: flex;
		justify-content: center;
		span { 
			margin-right: 5px; 
		}
		span:last-child { 
			margin-right: 0px;
		}
		.search_bar { 
			display: flex;
			width: 70%;
		}
	}

	#input_address {
		color: white;
		width: 100%;
		font-size: 16px;
		font-family: Source Code Pro;
		border: white solid 2px;
		border-radius: 5px;
		background-color: #995fa183;
		focus { 
			outline: none
		}
	}
	#menu { 
		display: flex;
		justify-content: right;
	}
}

.browser {
	display: grid;
	grid-template-columns: 100% 0%;
	margin-top: 5px; 
	transition: ease 1s;

	#content {
		display: grid; 
		grid-template-rows: 50% 50%;
		font-family: Source Code Pro;
		font-size: 16px;
		border-radius: 10px;
		padding: 5px;
		color: white;
		border: solid 2px white;
	}
	#menu_bar { 
		opacity: 0;
		white-space: nowrap;
		transition: 1s;
		color: white; 
		border: solid 2px white; 
		border-radius: 10px;
		margin-left: 5px;  
		font-family: Source Code Pro;
		padding: 5px; 
		
	}
}

button {
	background-color: #a468ad;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 7px;
	padding: 5px;
	font-size: 15px;
}

button:hover {
	background-color: #87558f;
}

#go_btn {
	
	border-color: white solid 2px;
	border-radius: 5px;
	font-size: 16px;
	background-color: rgb(235, 88, 125);
	transition: background-color 0, 3s ease;
}

#go_btn:hover {
	background-color: #a02f4b;
	color: white;
}

.show-history { 
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 5px; 
	transition: ease 1s;

	/* #content {
		font-family: Source Code Pro;
		font-size: 16px;
		border-radius: 10px;
		padding: 5px;
		color: white;
		border: solid 2px white;
	} */
	#menu_bar { 
		display: grid; 
		transition: ease 1s;
		white-space: nowrap;
		grid-template-columns: 30% 70%;
		color: white; 
		opacity: 100%;
		border: solid 2px white; 
		border-radius: 10px;
		margin-left: 5px;  
		font-family: Source Code Pro;
		padding: 5px; 

	}
}


.show-bookmarks {
	display: grid;
	grid-template-columns: 80% 20%;
	margin-top: 5px; 
	transition: ease 1s;

	/* #content {
		font-family: Source Code Pro;
		font-size: 16px;
		border-radius: 10px;
		padding: 5px;
		color: white;
		border: solid 2px white;
	} */
	#menu_bar { 
		display: grid; 
		transition: ease 1s;
		white-space: nowrap;
		color: white; 
		opacity: 100%;
		border: solid 2px white; 
		border-radius: 10px;
		margin-left: 5px;  
		font-family: Source Code Pro;
		padding: 5px; 

	}
}

		
.right-align { 
	text-align: right; 
}

#tab_bar { 
	display: flex; 
	margin: 5px; 
	div { 
		margin-right: 5px;
	}
}

#tab_content { 
	margin: 5px; 
	border: solid white 2px;
	font-size: 17px; 
	border-radius: 10px;
	padding: 5px; 
}