body {
	background-image: url(Monterey08.jpg);
	background-size: auto;
	background-position-y: center;
	background-position-x: center;
}

#tool_bar {
	display: grid;
	grid-template-columns: 10% 70% 20%;
	border: white solid 2px;
	border-radius: 10px;
	padding: 5px;
      
	#address_bar {
		font-size: 16px;
		display: flex;
		justify-content: center;
	}

	#control {
		display: flex;
	}

	#input_address {
		font-size: 16px;
		font-family: Gintronic;
		border: white solid 2px;
		border-radius: 5px;
	}
	#menu { 
		display: flex;
		justify-content: right;
	}
}

#browser {
	display: grid;
	grid-template-columns: 80% 20%;
	margin-top: 5px; 

	#content {
		font-family: Gintronic;
		font-size: 16px;
		border-radius: 10px;
		padding: 5px;
		color: white;
		border: solid 2px white;
	}
	#menu_bar { 
		border: solid 2px white; 
		border-radius: 10px;
		margin-left: 5px;  
		font-family: Gintronic;
		padding: 5px; 
	}
}

button {
	background-color: #a468ad;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 7px;
	padding: 5px;
	font-size: 15px;
}

button:hover {
	background-color: #87558f;
}

#go_btn {
	border-radius: 5px;
	font-size: 16px;
	background-color: green;
	transition: background-color 0, 3s ease;
}

#go_btn:hover {
	background-color: rgb(2, 88, 2);
	color: white;
}